@model WebApplication5.Models.Patient
@{
    ViewData["Title"] = "Edit patient";
}
<h2>@ViewData["Title"]</h2>

<form method="post" asp-route-id="@Model.Id">

    <label>Name</label> <br />
    <input type="text" name="Name" value="@Model.Name" /> <br />

    <label>Address</label> <br />
    <input type="text" name="Address" value="@Model.Address" /> <br />

    <label>Phones</label> <br />
    <input type="text" name="Phones" value="@Model.Phones" /> <br />

    <label>Diagnosis</label> <br />
    <input type="text" name="Diagnosis" value="@Model.Diagnosis" /> <br />

    <input type="submit" value="Save changes" />
</form>
