@model IEnumerable<WebApplication5.Models.Patient>
@{
    ViewData["Title"] = "Patient";
}
<h2>@ViewData["Title"]</h2>
<a asp-action="Create">Create new</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Diagnosis</th>
        <th></th>
    </tr>
    @foreach(var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Diagnosis</td>
            <td><a asp-action="Edit" asp-route-id="@p.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@p.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@p.Id">Delete</a>
            </td>
        </tr>
    }
</table>