@model IEnumerable<WebApplication5.Models.Hospital>
@{
    ViewData["Title"] = "Hospitals";
}
<h2>@ViewData["Title"]</h2>
<a asp-action="Create">Create new</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th></th>
    </tr>
    @foreach(var h in Model)
    {
        <tr>
            <td>@h.Name</td>
            <td>@h.Address</td>
            <td><a asp-action="Edit" asp-route-id="@h.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@h.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@h.Id">Delete</a>
            </td>
        </tr>
    }
</table>